/* the purpose of asterisk is to select everything*/
/* Syntax for CSS:
	selector {
		property:  value;
	} 
*/


* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

/*get your super cool fonts on https://fonts.google.com*/
h1, p {
	font-family: "Montserrat". sans-serif;
	font-weight: 600;
  	font-style: normal;
}

#profile {
	height: 250px;
	/*width*/
	widows: 250px;

	/*roundness of the borders*/
	border-radius: 30%;
}

body {
	/*get your sexy ass background on https://www.svgbackgrounds.com/*/
	background-color: #00bb77;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
	/*keeps the background fixed*/
	background-attachment: fixed;
}

/*this oversees the entire layout of the website*/
#landing {
	/*viewport height, as in like in reference to the space of the website*/
	height: 100vh;
	display: flex;

	/*what happens is that it sets elements in a row where the entirety of the website is maxxed*/
	/*only exclusive to display flex*/
	flex-direction:  column;
	/*only exlusive to display flex*/
	justify-content: center;
	align-items: center;
}

.carousel-item img {
	display:  block;
	margin: auto;
	max-width: 100%;
	height: auto;
}